<h1>Listing admins</h1>

<% if can? :create, Admin %>
  <%= link_to 'Create Admin', new_admin_path %>
  <br><br> 
<% end%> 

<table class="table">
  <tr>
    <th>ID</th>
    <th>Login</th>
  </tr>
 
  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.id %></td>
      <td><%= admin.login %></td>
      <td><%= link_to 'Show', admin_path(admin) %></td>
      <% if can? :destroy, Admin and admin.login != 'admin'%>
        <td><%= link_to 'Delete', admin_path(admin),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% end%>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', root_path %>
