<div class="page-header">
  <h1>Sign In as Admin</h1>
</div>

<%= form_for @admin_session do |f| %>
  <% if @admin_session.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading">
        <h2>
          <i class="glyphicon glyphicon-exclamation-sign"></i> <%= pluralize(@admin_session.errors.count, "error") %> prohibited this admin_session from being activated:
        </h2>
      </div>
      <ul class="panel-body">
        <% @admin_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :login %>
    <%= f.text_field :login, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>
  </div>

  <%= f.submit "Sign in!", class: 'btn btn-primary btn-lg' %>
<% end %>
<br>
<%= link_to 'Home', root_path %>
