<% if (copy.id != nil) %> 
  <p>
    Copy <%= copy.id %> is <%= copy.status == 0  ? 'Free' : 'Issued' %> 
    <% if can? :manage, Copy %>
      <%= link_to 'Delete', [copy.book, copy],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
<% end %>
