<div class="page-header">
  <% if !@book.nil? %>
     <h2>Assign new author to book</h2>
  <% elsif !@author.nil? %>
     <h2>Assign new book to author</h2>
  <% else %>
     <h2>Create new author-book relation</h2>
  <% end %>
  
</div>

<%= form_for @author_book do |f| %>
  <% if @author_book.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading">
        <h2>
          <i class="glyphicon glyphicon-exclamation-sign"></i> <%= pluralize(@author_book.errors.count, "error") %> prohibited this author from being saved:
        </h2>
      </div>
      <ul class="panel-body">
        <% @author_book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= f.label :author_id %><br>
    <% if @author.nil? %>
      <%= f.collection_select(:author_id, @authors, :id, :name, prompt: true ) %>
    <% else %>
      <%= f.label :author_id, Author.find(@author).name %><br>
      <%= f.hidden_field :author_id, value: @author %><br>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label :book_id %><br>
    <% if @book.nil? %>
      <%= f.collection_select(:book_id, @books, :id, :title, prompt: true ) %>
    <% else %>
      <%= f.label :book_id, Book.find(@book).title %><br>
      <%= f.hidden_field :book_id, value: @book %><br>
    <% end %>
  </div>
 
  <%= f.submit %>
<% end %>

<br>
<% if !@book.nil? %>
  <%= link_to 'Back to book', book_path(@book) %>
<% elsif !@author.nil? %>
  <%= link_to 'Back to author', author_path(@author) %>
<% else %>
  <%= link_to 'home', root_path %>
<% end %>
