<%= form_for @author do |f| %>
  <% if @author.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading">
        <h2>
          <i class="glyphicon glyphicon-exclamation-sign"></i> <%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:
        </h2>
      </div>
      <ul class="panel-body">
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :goodreads_id %><br>
    <%= f.text_field :goodreads_id, class: 'form-control' %>
  </div>
 
  <%= f.submit %>

 
<% end %>
