<h1>Listing authors</h1>

<% if can? :create, Author %> 
   <%#= link_to 'Add author', new_author_path %>
   <%= link_to 'Add author', search_authors_path %>
   <br><br>
<% end %>  
 
<table class="table">
  <tr>
    <th>Name</th>
    <th>Goodreads ID</th>
    <th>Books</th>
  </tr>
 
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td><%= author.goodreads_id %></td>
      <td><%= author.books.count %></td>
      <td><%= link_to 'Show', author_path(author) %></td>
      <% if can? :manage, Author %> 
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Delete', author_path(author),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% end %>  
    </tr>
  <% end %>
</table>

<%= link_to 'Home', root_path %>
