<div class="page-header">
  <h1>New Author</h1>
</div>

<%= form_for @author do |f| %>
  <% if @author.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading">
        <h2>
          <i class="glyphicon glyphicon-exclamation-sign"></i> <%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:
        </h2>
      </div>
      <ul class="panel-body">
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= f.label :name, @grauthor[:name] %><br>
    <%= f.hidden_field :name, value: @grauthor[:name] %>
  </div>
  
  <div class="form-group">
    <%= f.hidden_field :goodreads_id, value: @grauthor[:id] %>
  </div>
  
  <% if @grauthor[:name] != 'no author found' %>
    <%= f.submit %>
  <% end %>
  
<% end %>

<br>
Not the author you have been searching for?
<%= link_to 'Specify authors name', search_authors_path %>

<br><br>
<%= link_to 'Back to authors', authors_path %>
