<div class="page-header">
  <h1>Search for author</h1>
</div>

<%= form_tag handle_search_authors_path, method: "get" do %>

  <div class="form-group">
    <%= label_tag :name, 'Author name:' %><br>
    <%= text_field_tag :name %>
  </div>
 
  <%= submit_tag 'Search', name: nil %>
<% end %>

<br><br>
<%= link_to 'Back to authors', authors_path %>
