<h2>
  <%= @author.name %>
</h2>
<p>
  <strong>Godreads ID:</strong>
  <%= @author.goodreads_id %>
</p>
<p>
  <strong>Born:</strong>
  <%= @grauthor.born_at %>, 
  <strong>Died:</strong>
  <%= @grauthor.died_at %>
</p>
 
<p>
  <u>About:</u>
  <br>
  <%= raw(@grauthor.about) %>
  <p>
    Info gathered from:
    <%= link_to @grauthor.link, @grauthor.link %>
  </p>
</p>

<h2>Books</h2>
<% if can? :manage, Author %> 
  <%= link_to 'Add Book', new_authors_book_path(:author => @author) %>
  <br><br>
<% end %>
<% if !@books.blank? %>
  <ul class="list-group">
  <% @books.each do |book| %>
    <li class="list-group-item"><%= link_to book.title, book_path(book) %></li>
  <% end %>
  </ul>
<% else %>
  no books
  <br>
<% end %>



<br>
<% if can? :manage, Author %> 
  <%= link_to 'Edit', edit_author_path(@author) %> |
<% end %>
<%= link_to 'Back to authors', authors_path %>
