<h1>Listing users</h1>
 
<table class="table">
  <tr>
    <th>ID</th>
    <th>Login</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.login %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
    </tr>
  <% end %>
</table> 

<%= link_to 'Home', root_path %>
