<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<h2>Issued books:</h2>

<% if !@borrows.blank? %>
  <%= render partial: "borrows/borrow", collection: @borrows, as: :borrow %>
<% else %>
  <p>
    No issued books.
  </p>
<% end%>


<h2>Reservations:</h2>

<% if !@reservations.blank? %>
  <%= render partial: "reservations/show", collection: @reservations, as: :reservation %>
<% else %>
  <p>
    No reservations.
  </p>
<% end%>

<% if can? :create, Borrow %>
  <h2>Issue a book:</h2>
    <%= form_for @borrow do |f| %>
      <p>
        <%= f.label :copy_id %><br>
        <%= f.collection_select(:copy_id, Copy.where(:status => 0), :id, :id, prompt: true ) %>
      </p>
      
      <p>
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :due_date, :value => Date.today + 30 %>
      </p>
     
      <p>
        <%= f.submit 'Issue book', class: 'btn btn-primary btn-lg' %>
      </p>
    <% end %>
<% end %>
<br>
<% if can? :manage, User%>
  <%= link_to 'Back', users_path %>
<% else %>
  <%= link_to 'Home', root_path %>
<% end %>
