<div class="jumbotron">
  <div class="container">

    <h1>Library IS</h1>
    <ul class="list-group">
      <li class="list-group-item"><%= link_to 'Authors', controller: 'authors' %></li>
      <li class="list-group-item"><%= link_to 'Books', controller: 'books' %></li>
      <% if can? :manage, User %>
        <li class="list-group-item"><%= link_to 'Users', controller: 'users' %></li>
      <% end %>
      <% if can? :read, Admin %>
        <li class="list-group-item"><%= link_to 'Admins', controller: 'admins' %></li>
      <% end %>  
      <% if can? :manage, Borrow %>
        <li class="list-group-item"><%= link_to 'Issued books', controller: 'borrows' %></li>
      <% end %>  
    </ul>

    <% if current_user == nil and current_admin == nil %>
      <p>
        Sign up to borrow books:
      </p>
      <p>
        <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
          Sign Up &raquo;
        <% end %>
      </p>
    <% end %> 
   
  </div>
</div>
