<%= form_for @book do |f| %>
  <% if @book.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading">
        <h2>
          <i class="glyphicon glyphicon-exclamation-sign"></i> <%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:
        </h2>
      </div>
      <ul class="panel-body">
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :goodreads_id %><br>
    <%= f.text_field :goodreads_id, class: 'form-control' %>
  </div>

  <%= f.submit %>
<% end %>
