<h1>Listing books</h1>

<% if can? :create, Book %> 
  <%#= link_to 'New book', new_book_path %>
  <%= link_to 'New book', search_books_path %>
  <br><br>
<% end %>
 
<table class="table">
  <tr>
    <th>ISBN</th>
    <th>Title</th>
    <th>Goodreads ID</th>
    <th>First author</th>
    <th>Free copies</th>
  </tr>
 
  <% @books.each do |book| %>
    <tr>
      <td><%= book.isbn %></td>
      <td><%= book.title %></td>
      <td><%= book.goodreads_id %></td>
      <td>
        <% if !book.authors.blank? %>
          <%= book.authors.first.name %>
          <% if book.authors.count > 1 %>
            , ...
          <% end %>
        <% else %>
          No author.
        <% end %>
      </td>
      <td><%= Copy.where(book_id: book.id, status: 0 ).count %></td>
      <td><%= link_to 'Show', book_path(book) %></td>
      <% if can? :manage, Book %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Delete', book_path(book),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table> 

<%= link_to 'Home', root_path %>
