<div class="page-header">
  <h1>New Book</h1>
</div>

<%= form_for @book do |f| %>
  <% if @book.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading">
        <h2>
          <i class="glyphicon glyphicon-exclamation-sign"></i> <%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:
        </h2>
      </div>
      <ul class="panel-body">
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :title, @title %><br>
    <%= f.hidden_field :title, value: @title %>
  </div>
  
 
  <div class="form-group">
    <% if @grbook.authors.author.is_a? Array %>
      <%= f.label 'Authors:' %><br>
      <% @grbook.authors.author.each do |author| %>
          <%= author.name %><br>
      <% end %>
    <% else %>
      <%= f.label 'Author:' %><br>
      <%= @grbook.authors.author.name %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label 'ISBN:' %> <%= @isbn %><br>
    <%= f.hidden_field :isbn, value: @isbn %>
  </div>
  
  <div class="form-group">
    <%= f.hidden_field :goodreads_id, value: @gr_id %>
  </div>

  <% if @title != 'no book found' %>
    <%= f.submit %>
  <% end %>
<% end %>

<br>
Not the book you have been searching for?
<%= link_to 'Specify book title', search_books_path %>

<br>
<%= link_to 'Back to books', books_path %>
