<div class="page-header">
  <h1>Search for book</h1>
</div>

<%= form_tag handle_search_books_path, method: "get" do %>

  <div class="form-group">
    <%= label_tag :title, 'Book title:' %><br>
    <%= text_field_tag :title %>
  </div>
 
  <%= submit_tag 'Search', name: nil %>
<% end %>

<br><br>
<%= link_to 'Back to books', books_path %>
