<h2>
  <%= @book.title %>
</h2>
 
<p>
  <strong>Author:</strong>
    <% if !@authors.blank? %>
      <% @authors.each do |author|%>
        <%= link_to author.name, author_path(author) %> 
        <% if author != @authors.last%>
          , 
        <% end %>
      <% end %> 
    <% else %>
      No author.
    <% end %>
    <% if can? :manage, Author %> 
      <br>
      <%= link_to 'Add Author', new_authors_book_path(:book => @book) %>
    <% end %>
</p>

<p>
  <strong>Publication year:</strong>
  <%= @grbook.publication_year %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= raw(@grbook.description) %>
</p>

<p>
  Information about book gathered from: 
  <%= link_to @grbook.link, @grbook.link  %>
</p>

<p>
  <strong>Free copies:</strong>
  <%= @num_of_free_copies %>
</p>

<h2>Copies:</h2>

<% if @num_of_copies > 0 %>
    <% copies = @book.copies %>
    <%= render partial: "copies/show", collection: @book.copies, as: :copy %>
<% else %>
  <p>
    No copies.
  </p>
<% end%>

<% if can? :create, Reservation %>
  <h2>Reserve book:</h2>
  <% if Reservation.where({book_id: @book.id, user_id: @user.id}).blank? %>
    <%= form_for([@book, @book.reservations.build]) do |f| %>
      <%= f.hidden_field :user_id, :value => @user.id %>
      
      <%= f.submit 'Reserve', class: 'btn btn-primary btn-lg' %>
    <% end %>
  <% else %>
    <p>
      You already have this book reserved.
    </p>
  <% end %>
<% end %>

<% if can? :create, Borrow %>
  <h2>Issue book:</h2>
    <% if @num_of_free_copies > 0 %>
      <%= form_for @borrow do |f| %>
        <div class="form-group">
          <%= f.label 'Select User' %><br>
          <%= f.collection_select(:user_id, @users, :id, :login, prompt: true ) %>
        </div>
      
        <%= f.hidden_field :copy_id, :value => (@copies.where(:status => 0).take).id %>
        <%= f.hidden_field :due_date, :value => Date.today + 30 %>
       
        <%= f.submit 'Issue book', class: 'btn btn-primary btn-lg' %>
      <% end %>
    <% else %>
      No free copies.
    <% end %>
  <% end %>
<br>
<% if can? :manage, Book %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Back to books', books_path %>
