<p>
  <strong>Book:</strong>
  <%= Book.find(reservation.book_id).title %>
  <% if can? :manage, Reservation %> 
    <%= link_to 'Cancel Reservation', [reservation.book, reservation],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
