<p>
  <strong>Book:</strong>
  <%= Book.find(Copy.find(borrow.copy_id).book_id).title %>
  
  <%= link_to 'Show', borrow_path(borrow)%>
  <% if can? :manage, Borrow %> 
    | <%= link_to 'Return Book', borrow_path(borrow),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
