<h1>Issued books</h1>

<% if can? :create, Borrow %>  
  <%= link_to 'Issue a book', new_borrow_path %>
  <br><br>
<% end %> 

<table class="table">
  <tr>
    <th>Copy ID</th>
    <th>Book</th>
    <th>User</th>
    <th>Due Date</th>
  </tr>
 
  <% @borrows.each do |borrow| %>
    <tr>
      <td><%= borrow.copy_id %></td>
      <td><%= Book.find(Copy.find(borrow.copy_id).book_id).title %></td>
      <td><%= User.find(borrow.user_id).login %></td>
      <td><%= borrow.due_date %></td>
      <td><%= link_to 'Show', borrow_path(borrow) %></td>
      <% if can? :manage, Borrow %> 
        <td><%= link_to 'Return Book', borrow_path(borrow),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', root_path %>
