<div class="page-header">
  <h1>Issue book</h1>
</div>

<%= form_for @borrow do |f| %>
  <% if @borrow.errors.any? %>
    <div class="panel panel-warning errors">
      <div class="panel-heading">
        <h2>
          <i class="glyphicon glyphicon-exclamation-sign"></i> <%= pluralize(@borrow.errors.count, "error") %> prohibited issuing from finishing:
        </h2>
      </div>
      <ul class="panel-body">
        <% @borrow.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= f.label :copy_id  %><br>
    <%= f.collection_select(:copy_id, Copy.where(:status => 0), :id, :id, prompt: true ) %>
  </div>
  
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.collection_select(:user_id, User.order(:login), :id, :login, prompt: true ) %>
  </div>
 
  <%= f.hidden_field :due_date, :value => Date.today + 30 %>
 
  <%= f.submit 'Issue', class: 'btn btn-primary btn-lg' %>
 
<% end %>

@params

<br>
<%= link_to 'Back to issued', borrows_path %>
