<h2>Issued book</h2>

<strong>Book:</strong>
<p>
  <%= link_to @book.title, book_path(@book) %>,
  <strong>Copy:</strong>
  <%= @borrow.copy_id %>
</p>
<strong>Issued to:</strong>
<p>
  <%= link_to @user.login, user_path(@user) %>,
  <strong>Id:</strong>
  <%= @borrow.user_id %>
</p>
<strong>Due Date:</strong>
<p>
  <%= @borrow.due_date %>
</p>

<% if can? :manage, Borrow %>
  <%= link_to 'To Issued Books', borrows_path %>
<% else %>
  <%= link_to 'Home', root_path %>
<% end %>


