<!DOCTYPE html>
<html>
  <head>
    <title>LibrarySystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Home', root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav pull-right">
            <% if current_user != nil %>
              <li><%= link_to current_user.login, user_path(current_user) %></li>
              <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
            <% elsif current_admin != nil %>
              <li><%= link_to current_admin.login, admins_path %></li>
              <li><%= link_to 'Sign out', admin_sign_out_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign in', sign_in_path %></li>
              <li><%= link_to 'Admin Sign in', admin_sign_in_path %></li>    
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
     
      <%= yield %>
    </div> 
  </body>
</html>
